
@{
    ViewBag.Title = "Other";
}
<style>
    input, select, textarea {
        max-width: 100%;
    }
    
</style>
<div id="innerScreen" class="row">
    <div class="col">
        <h3 class="text-center text-uppercase">Enter an amount</h3>
        <hr />
        <div class="row p-4" ng-controller="accountCtrl">
            <div class="col">
                <div >
                    <span>Account: {{account.Number}}</span>
                    <span>Balance: {{account.Balance}}</span>
                </div>
                <hr />
                <form name="myForm" novalidate ng-controller="withdrawCtrl" ng-submit="withdraw(amount)">
                    <div class="form-group">
                        <input class="form-control" type="number" name="amount" ng-model="amount" ng-change="getDenominators(myForm.amount.$valid)" required divisible-by-10 />
                    </div>
                    <div class="alert text-danger">
                        {{error}}
                    </div>
                    <ul class="list-group pb-4">
                        <li class="list-group-item" ng-repeat="x in records">
                            <input type="radio" name="denom" ng-change="enableRetrieve()" ng-model="denom" value="{{x.Value}}">{{x.Label}}
                        </li>
                    </ul>
                    <input class="btn btn-primary" ng-disabled="retrieve" type="submit" value="Retrieve" />
                </form>
            </div>
        </div>
    </div>
</div>

