
@{
    ViewBag.Title = "Quick Cash";
}

<div id="innerScreen" class="row" ng-controller="accountCtrl">
    <div class="col" ng-controller="withdrawQuickCashCtrl">
        <h3 class="text-center text-uppercase">@ViewBag.Title</h3>
        <hr />
        <form name="myForm" ng-show="isWithdrawing"   ng-submit="submitForm()" novalidate>
            <div class="row p-4">
                <div class="col">
                    <ul class="list-group float-right">
                        <li class="list-group-item">
                            <div class="form-check">
                                <input class="form-check-input" ng-model="value" ng-change="checkBalance(value)" type="radio" name="amount" id="20" value="20">
                                <label class="form-check-label" for="20">
                                    20
                                </label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="form-check">
                                <input class="form-check-input" ng-model="value" ng-change="checkBalance(value)" type="radio" name="amount" id="100" value="100">
                                <label class="form-check-label" for="100">
                                    100
                                </label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="form-check">
                                <input class="form-check-input" ng-model="value" ng-change="checkBalance(value)" type="radio" name="amount" id="500" value="500">
                                <label class="form-check-label" for="500">
                                    500
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <div class="text-danger">{{error}}</div>
                </div>
                <div class="col">
                    <ul class="list-group float-left">
                        <li class="list-group-item">
                            <div class="form-check">
                                <input class="form-check-input" ng-model="value" ng-change="checkBalance(value)" type="radio" name="amount" id="50" value="50">
                                <label class="form-check-label" for="50">
                                    50
                                </label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="form-check">
                                <input class="form-check-input" ng-model="value" ng-change="checkBalance(value)" type="radio" name="amount" id="200" value="200">
                                <label class="form-check-label" for="200">
                                    200
                                </label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="form-check">
                                <input class="form-check-input" ng-model="value" ng-change="checkBalance(value)" type="radio" name="amount" id="1000" value="1000">
                                <label class="form-check-label" for="1000">
                                    1000
                                </label>

                            </div>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="row pt-0 pr-4 pl-4 pb-4">
                <div class="col">
                    <hr />

                    <a href="/" class="btn btn-primary float-left">Cancel</a>
                    @Html.ActionLink("Other", "CustomCash", "Withdraw", new { }, new { @class = "btn btn-primary float-right" })
                </div>

            </div>

        </form>
        <div class="row" ng-show="isPritingReceipt">
            <div class="col p-4">
                <h5 class="text-center">Receipt</h5>
                <table class="table tab-content">

                    <tr>
                        <td>Date:</td>
                        <td>@DateTime.Now</td>
                    </tr>
                    <tr>
                        <td>Account Number:</td>
                        <td>{{account.Number}}</td>
                    </tr>
                    <tr>
                        <td>Amount:</td>
                        <td>{{amount}}</td>
                    </tr>
                    <tr>
                        <td>Availabe:</td>
                        <td>{{account.Balance - amount }}</td>
                    </tr>
                </table>
                <hr />
                <a href="#" class="btn btn-primary float-left">Print Receipt</a>
                @Html.ActionLink("Exit", "Logout", "Auth", new { }, new { @class = "btn btn-primary float-right" })
            </div>
        </div>

    </div>
</div>


