
@{
    ViewBag.Title = "Logout";
}

<div id="innerScreen" class="row">
    <div class="col">
        <h3 class="text-center text-uppercase">Logout</h3>
        <hr />
        <div class="row p-4">
            <div class="col">
                <p class="text-success text-center font-weight-bold ">Thank you for banking with us.</p>
            </div>
        </div>
    </div>
</div>

